/*主页样式*/
.platform-home{
    margin: auto;
    .new-book{
        margin: auto;
        width: 90%;
    }
    .you-like{
        margin: auto;
        width: 90%;
        margin-top: 40px;
    }
    .people-like{
        padding: 20px 0 50px 0;
        background-color: #eee;
        .tags{
            margin: auto !important;
            width: 90%;
            .el-tabs__item.is-active{
                border-bottom-color: #eee;
            }
        }
    }
    .tags{
        .el-tabs__item.is-disabled {
            font-size: 1.5em;
            -webkit-margin-before: 0.83em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;
            color: black;
            padding: 0 150px 0 30px;
        }
        .el-tabs__header{
            border-bottom: 1px solid #c7161c;
        }
        .el-tabs__item.is-active{
            border: 1px solid #c7161c;
            border-bottom-color: #fff;
            border-radius: 7px 7px 0 0;
            color: #c7161c;
        }
        
    }
    .right_news{
        max-height: 500px;
        .item {
            padding: 9% 0;
            border-bottom: 1px dashed #BFCBD9;
            overflow:hidden;
            text-overflow:ellipsis;
            text-align: center;
        }
        .clearfix:before,.clearfix:after {
            display: table;
            content: "";
          }
        .clearfix:after {
            clear: both
        }
        .box-card {
            width: 85%;
            height: 100%;
        }
    }
    .like-title{
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        color: black;
        padding: 0 60px 10px 30px;
        height: 30px;
        line-height: 54px;
    }
}